{% extends "@FOSUser/layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="flex-dashboard">
        {#<div class="margin-top-average padding-right-0 dashboard-nav-wrap">#}
            <nav class="dashboard-nav">
                <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user-circle" aria-hidden="true"></i>
                            Profilis</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                            Redaguoti</a></li>
                </ul>
            </nav>
        {#</div>#}
        {#<div class="margin-top-average padding-left-0 dashboard-item-box-wrapper-wrap">#}
            <div class="dashboard-item-box-wrap">
                <div class="dashboard-item-box">
                    {% block fos_user_content %}
                    {% endblock %}
                </div>
            </div>
        {#</div>#}
    </div>

{% endblock %}
