{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 margin-top-average padding-right-0">
                <div id="ytplayer"></div>
            </div>
            <div class="col-sm-6 margin-top-average margin-bottom-average padding-left-0">
                <div class="how-to-box">
                    <div><center>
                        <h2>Kaip prisijungti prie serverio?</h2>
                    </center></div>
                        <p>Reikalavimai:</p>
                        <ol>
                            <li>Grand Theft Auto V v1.41.</li>
                            <li>Pilnai surašyta <a href="https://www.rage.mp">RageMP</a> modifikacija.</li>
                            <li>Priregistruota paskyra šioje svetainėje.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="map-title-wrap">
                    <center>
                    <h2>Žaidimo žemėlapis</h2>
                    </center>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                videoId: 'QkkoHAzjnUs',
                playerVars: {
                    color: 'white',
                    modestbranding: 1,
                    rel: 0,
                    showinfo: 0
                }
            });
        }
    </script>
{% endblock %}