$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import "supplementary/fonts.scss";

@import "supplementary/colors.scss";

@import "vendor/css/font-awesome.min.css";
@import "vendor/css/dropzone.css";

// One-job-styles

.margin-top-average {
  margin-top: 30px;
}
.margin-bottom-average {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .padding-right-0 {
    padding-right: 0;
  }
  .padding-left-0 {
    padding-left: 0;
  }
}
//Global styles

body {
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

flex {
  display: flex;
}
body, p, a, span {
  font-family: OpenSans;
}

.block-wrap-500 {
  max-width: 500px;
  margin: auto;
}
.font-dope {
  font-family: GTAdope;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

a,
a:visited {
  color: $color-lightpink;
}
a:hover,
a:active,
a:focus {
  color: $color-pink;
}

//Header

.logo {
  height: 35px;
}

.server-info-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: $color-pinkblack;
  color: white;
  padding: 0;
}
.server-info-line img {
  height: 30px;
  display: inline-block;
  margin: 5px 10px;
}
.server-info-line a,
.server-info-line a:visited,
.server-info-line a:hover,
.server-info-line a:active {
  color: $color-pinkorange;
}
.server-info-line h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  margin:0
}
.server-info-right {
  margin: 0 10px;
  margin-left: auto;
}
.server-ip {
  margin:0 20px;
}
.online-now {
  background: #5cb85c;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  color: white;
  white-space: nowrap;
}
.offline-now {
  background: $color-red;
  border: 1px solid transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  color: white;
  white-space: nowrap;
}


.top-nav-ul li a,
.top-nav-ul li span {
  padding: 15px;
  display: inline-block;
}

.navbar-top {
  background: $color-pinkdark;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-toggle {
  border: 1px solid $color-lightpink;
  color: $color-lightpink;
  border-radius: 10px;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background-color: $color-pinkblack;
  color: white;
}

@media screen and (max-width: 560px) {
  .server-info-right {
    margin: 0 10px;
    width: 100%;
  }
  .server-info-right span {
    display: inline-block;
    margin-bottom:5px;
  }
  .online-now {
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    color: white;
    white-space: nowrap;
  }
  .offline-now {
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    color: white;
    white-space: nowrap;
  }
}
@media screen and (max-width: 400px) {
  .online-now {
    float: none;
    margin:0 20px;
  }
  .offline-now {
    float: none;
    margin:0 20px;
  }
}


//Front Page Content

.how-to-box {
  box-shadow: 1px 1px 3px 2px $color-grey;
  margin: 0 10px;
  height: 350px;
  background-color: white;
}
@media screen and (max-width: 767px) {
  .how-to-box {
    margin: 0;
  }
}

.mode-link {
  color: $color-linkpink;
}
.how-to-box > div:first-of-type {
  background-color: white;
  color: $color-goldbrown;
  border-bottom: 1px solid $color-grey;
}
.how-to-box > div:last-of-type {
  background-color: white;
  color: $color-goldbrown;
}
.how-to-box p {
  padding: 20px 20px 0 20px;
  font-size: 20px;
}
.how-to-box h2 {
  padding: 20px;
  margin: 0;
}
.how-to-box ol li {
  font-size: 20px;
  margin: 5px 0;
}


#ytplayer {
  width: 100%;
  height: 350px;
  //margin: 0 10px;
}



//Footer

//stick to bottom
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $color-grey;
}
.wrap {
  flex: 1 0 auto;
}
footer {
  z-index: 1;
  background: $color-pinkdark;
  color: $color-lightpink;
}
.footer-content {
  padding: 20px;
}


//Google Map Title

.map-title-wrap {
  background: $color-pinkdark;
};
.map-title-wrap h2 {
  color: $color-lightpink;
  margin: 0;
  padding:15px;
};
.map-wrap {
  width: 100%;
}
.map-user-wrap {
  background: $color-pinkdark;
  padding: .5em 2em;
  clear: both;
};
.map-user-wrap div {
  background: $color-pinkblack;
  color: $color-grey;
  padding:5px 10px;
  height: 29px;
  transition: height 0.1s ease-in;
};
.map-user-wrap.false > div {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height 0.1s ease-out;
};
.map-user-wrap.false {
  padding: 0;
}
.map-user-wrap.false > div * {
  visibility: hidden;
}
.map-user-wrap p {
  display: inline;
};
.map-user-wrap i {
  margin-right: 5px;
};
.map-user-x  {
  float: right;
  display: inline;
  color: $color-pinkblack;
  background: $color-pinkorange;
  margin-right: -10px;
  margin-top: -5px;
  padding: 5px 10px;
};
.map-user-x:hover {
  font-weight: bold;
  background: $color-grey;
}
.map-user-wrap a,
.map-user-wrap a:visited {
  margin-left: 1em;
  color: $color-pinkorange;
};
.map-user-wrap a:hover,
.map-user-wrap a:active,
.map-user-wrap a:focus {
  text-decoration: none;
  color: $color-lightyellow;
};

//Auth forms

.form-wrap {
  max-width:500px;
  margin: auto;
}

.form-wrap form {
  margin: 2em 0 4em;
}

.auth-button {
  width: 100%;
  background: $color-goldbrown;
  color: $color-lightpink;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 5px;
  margin-top: 15px;
  border: none;
  outline: none;
}

.auth-button:hover,
.auth-button:active,
.auth-button:focus {
  background: $color-pinkblack;
  border: none;
  outline: none;
}

//Profile
//Dashboard Layout

.flex-dashboard {
  display: flex;
  //flex-wrap: wrap;
}
.dashboard-nav ul {
  list-style: none;
  padding: 0;
}
.no-left-margin {
  margin-left: 0 !important;
}
.dashboard-nav ul li a,
.dashboard-nav ul li a:visited {
  width: 100%;
  padding: 10px;
  background: $color-pinkblack;
  color: white;
  text-transform: uppercase;
  display: block;
}
.dashboard-nav ul li a:hover,
.dashboard-nav ul li a:active,
.dashboard-nav ul li a:focus {
  background: $color-grey;
  color: $color-goldbrown;
  text-decoration: none;
}
.dashboard-nav {
  width: 150px;
  background: $color-pinkblack;
  position: absolute;
  top:92px;
  bottom: 0;
  left: 0;
}
.dashboard-item-box-wrap {
  margin-left: 150px;
  width: 100%;
}
.dashboard-item-box {
  text-align: center;
  padding:2em 1em;
  background: $color-grey;
  max-width: 600px;
  margin: auto;
  color: $color-pinkblack;
}
.dashboard-item-box .dashboard-name {
  float:right;
  display: inline;
}
.dashboard-profile-title {
  margin: auto;
  overflow: hidden;
  display: inline-block;
}
.dashboard-clear {
  text-align: left;
  clear: both;
}
.dashboard-clear td {
  border-top: 1px solid $color-lightpink;
}
.dashboard-clear hr {
  border-top: 5px solid lightgrey;
}
.dashboard-item-box img {
  width: 70px;
  height: 70px;
  float:right;
  margin-left: 2em;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}
.row-parent {
  overflow: hidden;
  position: relative;
}
.dashboard-bio {
  margin: 1em 0;
}
.profile-avatar-change {
  overflow: hidden;
}
.profile-avatar-change p {
  font-weight: bold;
}
.profile-avatar-change img {
  width:200px;
  height:200px;
  float: none;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}
.profile-avatar-change form {
  display: inline-block;
}
.fos_user_profile_edit textarea {
  resize: none;
  height: 270px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .flex-dashboard {
    display: block;
  }
  .dashboard-nav ul li a,
  .dashboard-nav ul li a:visited {
    text-align: center;
  }
  .dashboard-nav {
    width: 100%;
    position: inherit;
    height: auto !important;
  }
  .dashboard-item-box-wrap {
    margin-left: 0px;
    width: 100%;
  }
  .profile-avatar-change img,
  .profile-avatar-change form  {
    margin: auto;
    margin-bottom: 2em;
  }
}


//Topai

.topai-wrapper {
  margin: 2em 1em;
}
.topai-wrapper h1 {
  margin-bottom: 1em;
  text-align: center;
  color: $color-pinkblack;
}
.topai-wrapper th a:link,
.topai-wrapper th a:visited{
  color: $color-linkpink;
}
.topai-wrapper th a:hover {
  text-decoration: none;
  color: $color-pink;
}
.topai-wrapper td a:link,
.topai-wrapper td a:visited,
.topai-wrapper td a:hover {
  color: $color-goldbrown;
  text-decoration: none;
}
.pagination {
  display: block;
  margin-top: 4em;
}
.navigation span {
  text-align: center;
  width: 35px;
  display: inline-block;
  padding: 10px;
  color: $color-pinkblack;
  border: 1px solid $color-goldbrown;
  background: $color-goldbrown;
  margin: 0 1px;
}
@media screen and (max-width: 600px) {
  .navigation span {
    width: 33px;
  }
}
.navigation span:hover {
  border: 1px solid $color-pinkblack;
  background: $color-pinkblack;
  margin: 0 1px;
}
.navigation span a,
.navigation span a:visited {
  color: $color-lightpink;
  text-decoration: none;
}
.navigation .current,
.navigation .current:hover {
  border: 1px solid $color-goldbrown;
  color: $color-goldbrown;
  background: $color-grey;
}


//Registered page
.big-flash {
  font-size: 2em;
  margin-bottom: 1em;
  color: $color-pinkdark;
}
