$color-grey: #E7E0DF;
$color-lightyellow: #FDE29F;
$color-lightpink: #fdc1a5;
$color-pinkorange: #FEC381;
$color-pink: #bc719e;
$color-pinkblack: #483B4C;
$color-pinkdark: #281E2B;
$color-goldbrown: #32170F;
$color-linkpink: #616;
$color-red: #8b0000;