

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GTAdope';
  src: url('../fonts/Dopestyle/Dopestyle.ttf') format('truetype');
}

@font-face {
  font-family: 'GTAchal';
  src: url('../fonts/ChaletLondonNineteenSixty/ChaletLondonNineteenSixty.ttf') format('truetype');
}